@import 'compiler/colors_fonts';
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: $main-font;
}
.hide{ display: none; }

::-webkit-scrollbar {
    width: 10px;
    background: $White;
}
::-webkit-scrollbar-thumb {
    background: $Black;
}
@keyframes BTmenu { to { transform: scale(1.1); } }

body{
    display: flex;
    flex-wrap: wrap;
    .banner{
        width: 100%;
        height: 100vh;
        display: flex;
        background: radial-gradient(27.14% 84.67% at 24.51% 46.06%, $WhiteLight 0%, $WhiteDark 100%);
        overflow: hidden;
        align-items: center;
        header{
            top: 0;
            position: absolute;
            height: 12vh;
            width: 75%;
            border-bottom:rgba(239, 82, 82, 0.5) solid 5px;
            left: 12.5%;
            ul{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                li{
                    padding: 1vh 1vw;
                    margin: 0 2vw;
                    a{
                        color:$BlackDark;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 1vw;
                    }
                    .BTmenu{
                        display: inline-block;
                        vertical-align: middle;
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        transition-property: color;
                        transition-duration: 0.3s;
                        &::before{
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: $Red;
                            transform: scale(0);
                            transition-property: transform;
                            transition-duration: 0.4s;
                            transition-timing-function: ease-out;
                            border-radius: 2vw;
                        }
                        &:hover{
                            color: $White;
                            animation-name: BTmenu;
                            animation-duration: 0.5s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            &::before{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .logo{
                    padding: 1vh 2vw;
                    a{
                        font-size: 1vw;  
                        font-weight: 900 !important;
                    }
                }
            }
        }
        img{
            height: 75%;
            margin: auto 0 -1vh 15vw;
        }
        .txtBanner{
            margin-left: auto;
            margin-right: 12vw;
            width: 35vw;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h1{
                font-weight: 900;
                width: 75%;
                font-size: 3vw;
                color: $BlackDark;
            }
            h2{
                color: $BlackDark;
                width: 100%;
                font-size: 1.4vw;
                font-weight: 500;
            }
            a{
                margin: 3vh 0 0 2vw;
                padding: 1vh 1.2vw;
                border-radius: 1vw;
                color: $White;
                box-shadow: 0px 2px 8px rgba(19, 15, 32, 0.5);
                background-color: $BlueLight;
                font-weight: 400;
                transition: 0.5s ease-in-out;
                &:first-of-type{
                    margin-left: auto;
                    background-color: $RedLight;
                }
                &:hover{
                    box-shadow: 0px 5px 10px rgba(19, 15, 32, 0.5);
                    transform: translateY(-0.3vw);
                }
            }
        }
    }
    .wrap{
        width: 100%;
        height: 300vh;
        background: linear-gradient(180deg, #171227 0%, #221A3D 33.33%, #262F99 66.67%, #3E5DCE 100%);
        .backgrond{
            mix-blend-mode: color-dodge;
            opacity: 0.25;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .servicos{
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h3{
                color: $White;
                font-family: 'Amatic SC', cursive;
                font-weight: 700;
                font-size: 3.6vw;
                height: auto;
                width: 20%;
                text-align: center;
                margin-top: 8vh;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 137.5%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    left: -137.5%;
                    opacity: 0.5;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 137.5%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    right: -137.5%;
                    opacity: 0.5;
                }
            }
            .cards{
                color: $White;
                display: flex;
                margin-top: 5vh;
                padding: 2vw;
                width: 75%;
                justify-content: space-evenly;
                .card{
                    background: $Blue;
                    border-radius: 1vw;
                    z-index: 1;
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 55vh;
                    align-items: center;
                    padding: 2vw;
                    text-align: center;
                    box-shadow: 0px 0px 25px rgba(12, 9, 20, 0.75);
                    color: $White;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        transform: translateY(-1vh);
                    }
                    .imgBack{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        mix-blend-mode: screen;
                        opacity: 0.5;
                        border-radius: 1vw;
                    }
                    svg{
                        position: absolute;
                        width: 25%;
                        height: auto;
                        top: 10;
                    }
                    h4{
                        font-size: 2.5vw;
                        font-weight: 700;
                        margin-top: 2vh;
                    }
                    p{
                        font-weight: 700;
                        font-size: 1.5vw;
                        width: 80%;
                        margin-top: 7vh;
                    }
                    span{
                        padding: 1vh 1.2vw;
                        margin-top: 7vh;
                        color: $White;
                        background: $BlueDark;
                        z-index: 2;
                        border-radius: 0.5vw;
                        font-weight: 400;
                        font-size: 1.3vw;
                        border: none;
                    }
                }
                .web{
                    svg{ width: 30%;}
                    p{ width: 90%;}
                }
            }
        }
        .projetos{
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .backgrond{
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            h3{
                color: $White;
                font-family: 'Amatic SC', cursive;
                font-weight: 700;
                font-size: 3.6vw;
                height: auto;
                width: 30%;
                text-align: center;
                margin-top: 8vh;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 76.5%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    left: -76.5%;
                    opacity: 0.5;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 76.5%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    right: -76.5%;
                    opacity: 0.5;
                }
            }
            p{
                width: 75%;
                color: $White;
                text-align: center;
                font-weight: 400;
                font-size: 1.25vw;
                z-index: 1;
                margin-top: 1vh;
                a{
                    font-weight: 800;
                    color: $White;
                }
            }
            .items {
                width: 75%;
                height: 50vh;
                margin-top: 5vh;
                position: relative;
                .item {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 27vw;
                    height: 35vh;
                    transition: all 300ms ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 300ms ease-in-out;
                        }
                    }
                }
                .active {
                    opacity: 1;
                    z-index: 99;
                }
                .prev {
                    z-index: 2;
                    opacity: 0.5;
                    transform: translate(-125%, -50%);
                    a{
                        img {
                            width: 65%;
                            height: 65%;
                            object-fit: cover;
                            transition: all 300ms ease-in-out;
                        }
                    }
                    
                }
                .next {
                    z-index: 2;
                    opacity: 0.5;
                    transform: translate(25%, -50%);
                    a{
                        img {
                            width: 65%;
                            height: 65%;
                            object-fit: cover;
                            transition: all 300ms ease-in-out;
                        }
                    }
                }
                .button-container {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 1vh;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;
                    .button {
                        cursor: pointer;
                        position: relative;
                        transition: all 300ms ease-in-out;
                        padding-right: 19vw;
                        height: 20vh;
                        svg{
                            margin-top: 50%;
                            opacity: 0.75;
                            width: 5vw;
                            transform: rotate(90deg);
                            path{
                                fill: $White;
                            }
                            &:hover{
                                opacity: 1;
                            }
                        }
                        &:nth-child(1){
                            margin-right: auto;
                        }
                        &:nth-child(2){
                            right: 0;
                            position: absolute;
                            padding-left: 19vw;
                            padding-right: 0;
                            svg{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }
            button{
                color: $White;
                font-weight: 400;
                font-size: 1.2vw;
                background-color: $BlackLight;
                box-shadow: 0px 5px 5px rgba(19, 15, 32, 0.5);
                border-radius: 1vw;
                padding: 1.5vh 1.5vw;
                z-index: 1;
                border: 0;
                transition: all 0.3s ease-in-out;
                margin-top: 2vh;
                &:hover{
                    transform: translateY(-1vh);
                }
            }
        }
        .duvidas{
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h3{
                color: $White;
                font-family: 'Amatic SC', cursive;
                font-weight: 700;
                font-size: 3.6vw;
                height: auto;
                width: 25%;
                text-align: center;
                margin-top: 8vh;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    left: -100%;
                    opacity: 0.5;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.5vh;
                    position: absolute;
                    background: $RedLight;
                    transform: skew(-50deg);
                    top: 50%; 
                    right: -100%;
                    opacity: 0.5;
                }
            }
            .accordion{
                width: 75%;
                height: 38vh;
                z-index: 1;
                margin-top: 5vh;
                .card{
                    padding: 1vw;
                    padding-bottom: 0;
                    background: none;
                    border: none;
                    button{
                        background:none;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 1vh 1.5vw;
                        border-radius: 2vw;
                        z-index: 2;
                        border: solid $Red 2px;
                        color: $White;
                        font-weight: 700;
                        min-height: 9vh;
                        font-size: 1.1vw;
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: $White;
                            opacity: 0.15;
                            width: 100%;
                            height: 100%;
                            border-radius: 2vw;
                            z-index: -1;
                        }
                    }
                    p{
                        padding: 1vw;
                        margin: 0;
                        width: 96%;
                        margin-left: 1.5vw;
                        z-index: 3;
                        position: relative;
                        color: $White;
                        font-weight: 800;
                        font-size: 0.9vw;
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: $White;
                            opacity: 0.3;
                            width: 100%;
                            height: 100%;
                            border-bottom-right-radius: 1vw;
                            border-bottom-left-radius: 1vw;
                            z-index: -1;
                        }
                    }
                }
            }
            h4{
                color: $White;
                font-family: 'Amatic SC', cursive;
                font-weight: 700;
                font-size: 3.6vw;
                height: auto;
                width: 25%;
                text-align: center;
                margin-top: 9vh;
                position: relative;
                z-index: 1;
            }
            span{
                width: 75%;
                text-align: center;
                color: $White;
                font-weight: 400;
                font-size: 1.3vw;
                line-height: 42px;
                padding: 2vh;
                margin-top: 2vh;
                z-index: 1;
                a{
                    color: $White;
                    font-weight: 900;
                }
            }
        }
    }
    footer{
        background: $BlackDark;
        width: 100%;
        height: 20vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $White;
        border-top: 3px solid $Red;
        h4{
            font-weight: 900;
            font-size: 2vw;
            padding: 1vh 0;
        }
        p{
            font-weight: 400;
            font-size: 0.8vw;
        }
    }
}


  

  
 


@media only screen and (min-width: 1200px) {}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}
/* Wide Mobile = 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
/* Small Device = 320px */
@media only screen and (max-width: 479px) {}