@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap);


$RedLight:#EF5252;
$Red:#BC2D2D;
$RedDark:#872B32;

$PurpleLight:#8C3793;
$Purple:#6E2A72;
$PurpleDark:#5B2466;

$BlueLight:#3E5DCE;
$Blue:#262F99;
$BlueDark:#2E2F73;

$WhiteLight:#F9F9F9;
$White:#EDEDED;
$WhiteDark:#D7D7D6;

$BlackLight: #3B3266;
$Black: #221A3D;
$BlackDark: #130F20;


/* font-family: 'Maven Pro', sans-serif; */
/* font-family: 'Amatic SC', cursive; */
